<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Payments_system_v_1_0</display-name>
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
        <welcome-file>start.html</welcome-file>
        <welcome-file>start.htm</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
             <display-name>SecurityConstraint</display-name>
             <web-resource-collection>
                 <web-resource-name>WRCollection</web-resource-name>
                 <url-pattern>/*</url-pattern>
             </web-resource-collection>
             <auth-constraint>
                  <role-name>TutorialUser</role-name>
             </auth-constraint>
             <user-data-constraint>
                <transport-guarantee>CONFIDENTIAL</transport-guarantee>
             </user-data-constraint>
    </security-constraint>
    
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/login.jsp</form-login-page>
            <form-error-page>/jsp/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>TutorialUser</role-name>
    </security-role>
    
    
    
    
    <servlet>
        <display-name>GetLogPage</display-name>
        <servlet-name>GetLogPage</servlet-name>
        <servlet-class>get_pages.GetLogPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLogPage</servlet-name>
        <url-pattern>/GetLogPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>GetRegPage</display-name>
        <servlet-name>GetRegPage</servlet-name>
        <servlet-class>get_pages.GetRegPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRegPage</servlet-name>
        <url-pattern>/GetRegPage</url-pattern>
    </servlet-mapping>
    
</web-app>
